In [2]:
import numpy as np
import pandas as pd
exc = pd.read_excel('Salaries t.xlsx', sheet_name='Salaries',index_col='Id')

In [3]:
exc.loc[:, 'BasePay'].mean()

66325.44884050643

In [5]:
exc.loc[:, 'OvertimePay'].max()

245131.88

In [15]:
df = exc.set_index('EmployeeName').loc['JOSEPH DRISCOLL']
df.loc['JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

In [17]:
df = exc.set_index('EmployeeName').loc['JOSEPH DRISCOLL']
df.loc['TotalPayBenefits']

270324.91

In [25]:
df = exc.sort_values(by="TotalPayBenefits", ascending=False)
df.head(1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [26]:
df = exc.sort_values(by="TotalPayBenefits", ascending=False)
df.tail(1)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [29]:
aver = exc.groupby("Year")
aver['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [36]:

exc['JobTitle'].unique() # чисто все виды проф
exc['JobTitle'].nunique() #кол-во уникальных

2159

In [68]:
exc['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [54]:
chef = exc['JobTitle'].str.contains('Chief',regex=True,case=False)
chef[chef == True].sum()

627

In [62]:
sal = exc[['Year', 'JobTitle']] 
sal = sal[sal['Year']==2013]
sal = sal['JobTitle'].value_counts()
sal = sal[sal == 1]
sal.sum()

202

In [72]:
df = exc['JobTitle'].str.lower().to_frame()
print(len(df['JobTitle'].value_counts()))

1637

In [79]:
df = exc['JobTitle'].str.lower().to_frame()
print(len(df['JobTitle'].value_counts())) #кол-во уникальных

1637