In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Telco-Customer-Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df = df.drop(['customerID','gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod'],axis=1)
df

      SeniorCitizen  tenure  MonthlyCharges TotalCharges Churn
0                 0       1           29.85        29.85    No
1                 0      34           56.95       1889.5    No
2                 0       2           53.85       108.15   Yes
3                 0      45           42.30      1840.75    No
4                 0       2           70.70       151.65   Yes
...             ...     ...             ...          ...   ...
7038              0      24           84.80       1990.5    No
7039              0      72          103.20       7362.9    No
7040              0      11           29.60       346.45    No
7041              1       4           74.40        306.6   Yes
7042              0      66          105.65       6844.5    No

[7043 rows x 5 columns]

In [5]:
df['Churn']= df['Churn'].apply(lambda x: 1 if x=='Yes' else 0)
df

      SeniorCitizen  tenure  MonthlyCharges TotalCharges  Churn
0                 0       1           29.85        29.85      0
1                 0      34           56.95       1889.5      0
2                 0       2           53.85       108.15      1
3                 0      45           42.30      1840.75      0
4                 0       2           70.70       151.65      1
...             ...     ...             ...          ...    ...
7038              0      24           84.80       1990.5      0
7039              0      72          103.20       7362.9      0
7040              0      11           29.60       346.45      0
7041              1       4           74.40        306.6      1
7042              0      66          105.65       6844.5      0

[7043 rows x 5 columns]

In [20]:
def transfomFloat(x):
    try:
        return float(x)
    except:
        return np.nan
df['TotalCharges']= df['TotalCharges'].apply(transfomFloat)
df=df.fillna(0)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SeniorCitizen   7043 non-null   int64
 1   tenure          7043 non-null   int64
 2   MonthlyCharges  7043 non-null   float64
 3   TotalCharges    7043 non-null   float64
 4   Churn           7043 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 275.2 KB

In [22]:
df_x=df.drop(['Churn'],axis=1)
df_y=df[['Churn']]

In [11]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test,y_train,y_test = train_test_split(df_x,df_y, train_size=0.3, random_state=543)

In [13]:
X_train

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
6704              0      59          106.15       6256.20
1842              0      45           75.95       3273.80
2242              0      44           24.85       1013.60
6329              0      46          104.40       4904.20
275               0       5           85.40        401.10
...             ...     ...             ...           ...
2180              1      71           95.50       6707.15
479               0      15           69.00        994.80
561               0       3           23.60         89.05
2151              0      68           24.15       1498.85
1785              0      68           92.20       6392.85

[2112 rows x 4 columns]

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [25]:
model = LogisticRegression()
model= model.fit(X_train,y_train.values.ravel())

In [26]:
model.score(X_train,y_train)

0.7883522727272727

In [28]:
model.score(X_test,y_test)

0.789900628675725

In [29]:
y_pred = model.predict(X_test)

In [30]:
from sklearn.metrics import f1_score

In [31]:
f1_score(y_test,y_pred)

0.5432098765432098

In [32]:
model = DecisionTreeClassifier(max_depth=3)

In [33]:
model= model.fit(X_train,y_train.values.ravel())

In [34]:
y_pred = model.predict(X_test)

In [35]:
model.score(X_train,y_train)

0.7892992424242424

In [36]:
model.score(X_test,y_test)

0.7769215169336848

In [37]:
f1_score(y_test,y_pred)

0.5124113475177305

In [38]:
from sklearn.model_selection import KFold, StratifiedKFold

In [40]:
kf = KFold(n_splits=3)
for train,test in kf.split(df):
    print('!!!!',df.iloc[train,:])

!!!!       SeniorCitizen  tenure  MonthlyCharges  TotalCharges  Churn
2348              0      61           33.60       2117.20      0
2349              0      72           90.45       6565.85      0
2350              0       5           84.00        424.75      0
2351              0      49           67.40       3306.85      0
2352              0       8           19.70        168.90      0
...             ...     ...             ...           ...    ...
7038              0      24           84.80       1990.50      0
7039              0      72          103.20       7362.90      0
7040              0      11           29.60        346.45      0
7041              1       4           74.40        306.60      1
7042              0      66          105.65       6844.50      0

[4695 rows x 5 columns]
!!!!       SeniorCitizen  tenure  MonthlyCharges  TotalCharges  Churn
0                 0       1           29.85         29.85      0
1                 0      34           56.95       1889.50      0
2                 0       2           53.85        108.15      1
3                 0      45           42.30       1840.75      0
4                 0       2           70.70        151.65      1
...             ...     ...             ...           ...    ...
7038              0      24           84.80       1990.50      0
7039              0      72          103.20       7362.90      0
7040              0      11           29.60        346.45      0
7041              1       4           74.40        306.60      1
7042              0      66          105.65       6844.50      0

[4695 rows x 5 columns]
!!!!       SeniorCitizen  tenure  MonthlyCharges  TotalCharges  Churn
0                 0       1           29.85         29.85      0
1                 0      34           56.95       1889.50      0
2                 0       2           53.85        108.15      1
3                 0      45           42.30       1840.75      0
4                 0       2           70.70        151.65      1
...             ...     ...             ...           ...    ...
4691              1      56          100.65       5688.05      1
4692              0      16          100.70       1522.70      0
4693              0      52           25.60       1334.50      0
4694              0      13           19.85        252.00      0
4695              0      35           20.75        700.45      0

[4696 rows x 5 columns]

In [42]:
sf = StratifiedKFold(n_splits=3)
for train,test in sf.split(df_x,df_y):
    print('!!!!',df_y.iloc[train,:])

!!!!       Churn
2342      0
2343      0
2344      0
2345      0
2346      0
...     ...
7038      0
7039      0
7040      0
7041      1
7042      0

[4695 rows x 1 columns]
!!!!       Churn
0         0
1         0
2         1
3         0
4         1
...     ...
7038      0
7039      0
7040      0
7041      1
7042      0

[4695 rows x 1 columns]
!!!!       Churn
0         0
1         0
2         1
3         0
4         1
...     ...
4746      1
4749      1
4751      1
4753      1
4757      1

[4696 rows x 1 columns]